span{
    font-size: x-large;
    font-weight: 700;
}
.form-container{
    border: 1px solid black;
    height: 80vh;
    overflow-y: auto;
}
.tt{
    padding: 10px;
    width: 100%;
}

.invalid {
    border: 1px solid red;
}
input{
    margin-bottom: 10px;
}